# =========================
# Virtual environment
# =========================
venv/

# =========================
# Environment variables
# =========================
.env
.gemini

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Model artifacts / outputs
# =========================
model_output/
logs/
*.pt
*.pth
*.bin
*.ckpt
*.onnx

# =========================
# Data (NOT uploaded)
# =========================
data/
*.csv


# =========================
# Archives / backups
# =========================
*.zip
*.tar
*.gz

# =========================
# IDE / OS files
# =========================
.vscode/
.DS_Store

# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war


# =========================
# New Python Environments
# =========================
ml-service/venv/
model/bert_fakenews/model.safetensors
model/bert_fakenews/*.json

# -----------------------------
# Hugging Face / model caches
# -----------------------------
hf_cache/
.huggingface/
**/.cache/huggingface/
**/huggingface_cache/
