# Ignore compiled output
target/
.class

# Ignore IDE files
.idea/
.vscode/
*.iml

# Ignore git
.git/
.gitignore

# Ignore Windows wrapper script (we use the shell script in Linux)
mvnw.cmd

# Ignore log files
*.log
